
/*  FUENTES */

@font-face {
    font-family:    'LibreBaskerville_Italic';
    src:            url(../fonts/LibreBaskerville-Italic.ttf);
}

/* INDEX */

/* Nav */

/* Header */

/* Main */



/* CONTACT */

/* Formulario */


/* RESPONSIVE */

/* Rojo */

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 479px) {
    body {
        font-size: 5px; 
        color: red;
    }
}

/* Naranja */

/* Punto de mas para ser precisa (up to 767px) */
@media (min-width: 480px) and (max-width:  767px) {
    body { 
        font-size: 8px; 
        color: orange;
    }
}

/* Amarillo */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body { 
        font-size: 10px; 
        color: yellow;
    }
}

/* Verde */

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    
    body { 
        font-size: 12px; 
        color: green;
    }
}

/* Azul */

/* large desktops and up ----------- */
@media (min-width: 1200px) and (max-width: 1549px) {
    body {
        font-size: 14px; 
        color: blue;
    }
}

/* Violeta */

/* large desktops and up ----------- */
@media (min-width: 1550px) and (max-width: 1920px) {
    body {
        font-size: 16px; 
        color: purple;
    }
}