/* --------- */
/*  FUENTES */
/* --------*/

@font-face {
    font-family:    'LibreBaskerville_Italic';
    src:            url(../fonts/LibreBaskerville-Italic.ttf);
}

@font-face {
    font-family:    'Helvetica_Roman';
    src:            url(../fonts/HelveticaLTStd-Roman.otf);
}

@font-face {
    font-family:    'Helvetica_Bold';
    src:            url(../fonts/HelveticaLTStd-Bold.otf);
}

@font-face {
    font-family:    'LibreBaskerville_Bold';
    src:            url(../fonts/LibreBaskerville-Bold.ttf);
}
    
@font-face {
    font-family:    'LibreBaskerville_Regular';
    src:            url(../fonts/LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family:    'BebasNeue-Regular';
    src:            url(../fonts/BebasNeue-Regular.otf);
}


/* --------- */
/*  INDEX   */
/* --------*/

/* Header Video */

video {
    width: 100%;
}

/* Contenedor Principal */

#contenedor_principal {
    margin-bottom: 70vh;
    position: relative;
    z-index: 10;
    background-color: #ffffff;
    overflow-x: hidden;
}

/* Header Texto */

header {
    position: relative;
    overflow: hidden;
    clear: both;
}

.columna_header {
    padding-left: 110px;
    margin-top: 70px;
}

.header_texto {
    clear: both;
    margin-top: 10em;
    margin-left: 5em;
}

.frase_header {    
    font-family: 'BebasNeue-Regular', sans-serif;
    font-size: 10em;
    text-transform: uppercase; 
    line-height: 1.1;
}

#texto_fondo {
    color: green;
    font-family: 'LibreBaskerville_Italic', serif;
    font-size: 30rem;
    line-height: 0.85;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    left: 500px;
    top: 150px;
}

.texto_chico {
    font-size: 20rem;
}

/* Botones */

.boton {
    font-family: 'Helvetica_Bold', sans-serif;
    font-size: 2rem;
    border: 0.15em solid black;
    border-radius: 0;
    margin-top: 2em;
    margin-right: 5em;
    padding: 0.5em 1em;
    background: transparent;
    transition: .2s all;
    transition-delay: 0.2s;
}

.boton:hover {
	background-color:#f0618d;;
	color: white;
	border-color: white;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.cta { 
    margin: 3em auto;
    display: block;
}

.boton_final {
    font-size: 1.5em;
}

/* Main */

main {
    position: relative;
}

.gulaque_titulo {
    margin-top: 10em;
}

.gulaque_titulo h1 {
    font-family: 'Helvetica_Bold', sans-serif;
    font-size: 3em;
}


.gulaque_texto {
    font-family: 'Helvetica_Bold', sans-serif;
    font-size: 1.5em;
    line-height: 1.8;
    margin-top: 3em;    
}

/* Modal */
.modal-backdrop {
    position: static;
}

.modal-dialog {
    width: 350px;
}

.modal {
    font-family: 'Helvetica_Bold', sans-serif;
    position: fixed;
    top: 20%;
    left: 70em;
    font-size: 1em;
}

.modal p {
    text-align: right;
    margin-right: 2em;
}

.modal p a {
    text-decoration: none;
    color: black;
}

.modal p a:hover {
    color:#f0618d;
}

.modal .boton_formulario {
    margin: 1em auto;
    font-size: 1.7rem;
}



/* Slider */

.carousel {
    margin-top: 3em;
}

.carousel-control {
    width: 7%;
    background-image: none !important;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    color: black;
    font-size: 80px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    width: 100%;
    margin: 0 auto;
    line-height: 1;
}

/* Pantallas Slider */

.pantalla_slider {
    font-family: 'Helvetica_Bold', sans-serif;
}

.pantalla_slider h1 {
    font-size: 5em;
    margin: 0.5em;
}

.numero {
    font-size: 9em;
}

.pantalla_slider p {
    font-size: 3em;
    line-height: 1.8; 
    margin-top: 1em;
    padding: 0 3em;
}

.pantalla_slider1, 
.pantalla_slider2, 
.pantalla_slider3 {
    padding: 6em;   
}

.pantalla_slider1 {
    background-color: #6878ba;
}

.pantalla_slider2 {
    background-color: #a17bb7;
}

.pantalla_slider3 {
    background-color: #f15f70;
}

/* Video Final */

.contenedor_videofinal {
    position: relative;
}

.texto_videofinal {
    font-family: 'LibreBaskerville_Italic', serif;
    font-size: 6rem;
    text-align: right;
    opacity: 2.3;
    z-index: 1;
    position: absolute;
    left: 500px;
    top: 800px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #a2c6e9;
    padding-bottom: 3em;
}

.footer_derecha {
    float: right;
}

.footer_logo {
    width: 40%;
    overflow:hidden;
    float:left;
}

.img_footer {
    width: 30%;
    margin: 0 auto;
    display: block;
}

.menu {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-right: 2em;
    font-family: 'Helvetica_Bold', sans-serif;
    font-size: 3.5em;
    line-height: 1.4;
    text-align: right;
}

.menu ul,
.footer_apartado ul {
    list-style: none;
}

.menu ul li a {
    color:black;
}

.menu ul li a:hover,
.footer_apartado ul li a:hover {
    color:#f0618d;
    text-decoration: none;
}

.footer_datos {
    width: 60%;
    padding-right: 3em;
    font-size: 1em;
    font-family: 'Helvetica_Roman';
}

.footer_apartado {
    width: 33.3%;
    text-align: center;
    line-height: 1.8;
}

.footer_apartado ul li a {
    color:#2d2d2d;
}

.footer_titulo {
    font-size: 1.4em;
    font-family: 'Helvetica_Bold', sans-serif;
}

.active {
    color:#f0618d !important;
    text-decoration: line-through;
    text-decoration-color: #a2c6e9;
}






/* --------- */
/* REGISTER */
/* --------*/


/* Formulario */

.form_row {
    padding-bottom: 7em;
}
.formulario {
    width: 30%;
    float: left;
    padding: 1em;
    margin-top: 4em;
    padding-left: 3em;
}

.formulario h1 {
    font-family: 'LibreBaskerville_Italic', serif;
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.5em
}

.form-group {
    font-family: 'Helvetica_Bold', sans-serif;
    font-size: 1.2em;
    padding-bottom: 1rem;
}

.form-group input {
    width: 90%;
    padding: 1.5em;
    letter-spacing: 0.05em;
    color: #f0618d;
}

.boton_formulario {
    margin: 2em auto;
    display: block;
}

/* Video Formulario */

.video_formulario {
    width: 70%;
    float: right;
}

.video_formulario img {
    width: 100%
}






/* --------- */
/* RESPONSIVE */
/* --------*/

/* Rojo */

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 479px) {
    body {
        font-size: 5px; 
        color: red;
    }

    .boton {
        font-size: 3em;
        margin-right: 2em;
    } 

    .columna_header {
        padding-left: 30px;
    } 

    .gulaque_titulo h1 {
        font-size: 6em;
    }

    .gulaque_texto {
        font-family: 'Helvetica_Bold', sans-serif;
        font-size: 3.5em;
        line-height: 1.8;
        margin-top: 3em;
        padding: 0 4em;
    }

    .cta { 
        display: inline;
    }

    .slider {
        display: none;
    }

    .texto_videofinal {
        font-size: 3rem;
        left: 35px;
        top: 225px;
    }

    .boton_final {
        font-size: 3em !important;
        margin:0;
    }

    .carousel {
        display: none;
    }

    #contenedor_principal {
        margin-bottom: 90vh;
    }

    .footer_logo {
        width: 100%;
        padding-bottom: 2em;
    }

    .img_footer {
        width: 30%;
    }

    .menu {    
        padding-right: 1em;
        font-size: 6em;
        padding-bottom: 1.5em;
    }

    .footer_datos {
        width: 100%;
        padding-right: 3em;
        font-size: 2.8em;
        padding-bottom: 3em;
    }

    .footer_apartado {
        width: 50%;
        margin: 0 auto;
        float: none;  
        padding-bottom: 1.3em;  
    }

    .formulario {
        width: 100%;
        margin-top: 10em;
    }

    .formulario h1 {
        font-size: 6em;
        padding-bottom: 0.8em;
    }

    .form-group, 
    .form-check {
        font-size: 3em;
        width: 85%;
        margin: 0 auto;
    }

    .form-group label {
        padding-top: 1em;
    }

    .form-check{
        margin-top: 1em;
    }

    .boton_formulario {
        margin: 2em auto;
        display: block;
        font-size: 3em;
    }

    .form_row {
        padding-bottom: 38em;
    }

}

/* Naranja */

/* Punto de mas para ser precisa (up to 767px) */
@media (min-width: 480px) and (max-width:  767px) {
    body { 
        font-size: 8px; 
        color: orange;
    }

    .boton {
        font-size: 2em;
        margin-right: 3em;
    }

    .columna_header {
        padding-left: 50px;
        margin-top: 130px;
    } 

    .gulaque_titulo h1 {
        font-size: 4em;
    }

    .gulaque_texto {
        font-size: 2.5em;
        padding: 0 4em;
    }

    .cta { 
        display: inline;
    }

    .slider {
        display: none;
    }

    .texto_videofinal {
        font-size: 3.5rem;
        left: 80px;
        top: 320px;
    }

    .boton_final {
        font-size: 2.5em !important;
        margin:0;
    }

    .carousel {
        display: none;
    }
    
    .footer_logo {
        width: 100%;
        padding-bottom: 2em;
    }

    .img_footer {
        width: 20%;
    }

    .menu {    
        padding-right: 1em;
        font-size: 4.6em;
        padding-bottom: 1em;
    }

    .footer_datos {
        width: 100%;
        padding-right: 3em;
        font-size: 1.6em;
        padding-bottom: 3em;
    }
    
    .video_formulario {
        display:none;
    }

    .formulario {
        width: 100%;
        margin-top: 10em;
    }

    .formulario h1 {
        font-size: 4.2em;
        padding-bottom: 0.8em;
    }

    .form-group, 
    .form-check {
        font-size: 2em;
        width: 75%;
        margin: 0 auto;
    }

    .form-group label {
        padding-bottom: 7px;
    }

    .form-check{
        margin-top: 1em;
    }

    .boton_formulario {
        margin: 2em auto;
        display: block;
    }

    .form_row {
        padding-bottom: 23em;
    }

}

/* Amarillo */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    body { 
        font-size: 10px; 
        color: yellow;
    }

    .contenedor_principal {
        margin-bottom: 50vh;
    }

    .boton {
        font-size: 2em;
        margin-right: 3em;
    }   
    
    .columna_header {
        padding-left: 65px;
    }

    #texto_fondo {
        font-size: 20rem;
        left: 65px;
        top:175px;
    }

    .texto_chico {
        font-size: 13rem;
    }

    .gulaque_titulo h1 {
        font-size: 4em;
    }
    
    .gulaque_texto {
        font-family: 'Helvetica_Bold', sans-serif;
        font-size: 2em;
    }

    .cta { 
     display: inline;
    }

    .slider {
        display: none;
    }

    .texto_videofinal {
        left: 55px;
        top: 450px;
    }

    .boton_final {
        font-size: 2.5em !important;
        margin:0;
    }

    .pantalla_slider {
        display: none;
    }

    .carousel {
        margin-top: 6em;
    }

    .img_footer {
        width: 40%;
    }

    .menu {    
        padding-right: 1em;
        font-size: 4em;
    }

    .footer_datos {
        font-size: 1.3em;
    }

    .video_formulario {
        display:none;
    }

    .formulario {
        width: 100%;
        margin-top: 10em;
    }

    .formulario h1 {
        font-size: 4em;
        padding-bottom: 0.8em;
    }

    .form-group, 
    .form-check {
        font-size: 2em;
        width: 50%;
        margin: 0 auto;
    }

    .form-group label {
        padding-bottom: 7px;
    }

    .form-check{
        margin-top: 1em;
    }

    .boton_formulario {
        margin: 2em auto;
        display: block;
    }

    .form_row {
        padding-bottom: 8em;
    }
}

/* Verde */

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    
    body { 
        font-size: 12px; 
        color: green;
    }

    .columna_header {
        padding-left: 73px; 
    }

    #texto_fondo {
        left: -45px;
        top:100px;
    }

    .gulaque_texto {
        font-family: 'Helvetica_Bold', sans-serif;
        font-size: 1.7em;
    }

    .pantalla_slider {
        display: none;
    }

    .texto_videofinal{
        left: 290px;
        top: 600px;
    }

    .boton_final {
        font-size: 1.75em !important;
    }

    .img_footer {
        width: 40%;
    }

    .menu {    
        padding-right: 1em;
    }

    .footer_datos {
        font-size: 1.1em;
    }

    .formulario {
        width: 40%;
        margin-top: 1em;
    }

    .formulario h1 {
        font-size: 2.5em;
    }

    .form-group, 
    .form-check {
        font-size: 1.2em;
    }

    .form-group input {
        padding: 0.2em;
        letter-spacing: 0.02em;
    }

    .boton_formulario {
        font-size: 1.7rem;
    }

    .video_formulario {
        width: 60%;
    }

    .form_row {
        padding-bottom: 15em;
    }
}

/* Azul */

/* large desktops and up ----------- */
@media (min-width: 1200px) and (max-width: 1549px) {
    body {
        font-size: 14px; 
        color: blue;
    }

    .columna_header {
        padding-left: 73px; 
    }

    #texto_fondo {
        left: 160px;
        top:105px;
    }

    .pantalla_slider {
        display: none;
    }

    .texto_videofinal {
        left: 420px;
        top: 760px;
    }

    .boton_final {
        font-size: 1.75em !important;
    }

    .img_footer {
        width: 40%;
    }

    .menu {    
        padding-right: 1em;
    }

    .footer_datos {
        padding-right: 1em;
    }

    .form_row {
        padding-bottom: 15em;
    }

    .formulario {
        margin-top: 2em;    
    }

    .formulario h1 {
        font-size: 2em;
    }

    .form-group, 
    .form-check {
        font-size: 1em;
    }

    .boton_formulario {
        font-size: 1.7rem
    }
}

/* Violeta */

/* large desktops and up ----------- */
@media (min-width: 1550px) and (max-width: 1920px) {
    body {
        font-size: 16px; 
        color: purple;
    }

    .pantalla_slider {
        display: none;
    }

    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
        width: 83%;
        margin: 0 auto;
        line-height: 1;
    }
}